{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint-config-egg",
  "rules": {
    "semi": [0],
    "linebreak-style": [0]
  }
}
